@model LandingPage.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared_Admin/_Login.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()

    <div class="form-signin-heading text-center">
        <h1 class="sign-title">MP LANGUAGE</h1>
        <img src="~/AdminTemplate/images/login-logo.png" alt="" />
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="login-wrap">
    <input type="text" class="form-control" placeholder="User Name" id="UserName" name="UserName" autofocus>
    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    <input type="password" class="form-control" placeholder="PassWord" id="Password" name="Password">
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <button class="btn btn-lg btn-login btn-block" type="submit">
        Login
    </button>
    <div class="registration">
        Not A Member Yet?
        @Html.ActionLink("Sign Up", "Register", "Account")
    </div>
    <label class="checkbox">
        
        <span class="pull-right">
            <a data-toggle="modal" href="#mymodal"> Forgot Password?</a>

        </span>
    </label>
</div>

}


<div aria-hidden="true" aria-labelledby="mymodallabel" role="dialog" tabindex="-1" id="mymodal" class="modal fade">
    
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">forgot password ?</h4>
                </div>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="modal-body">
                        <p>enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                }
            </div>
        </div>
        
</div>
